body {    
    margin: 0 !important;
    padding: 0 !important;
}

#search{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;

    background-color: lightgray;

    border-bottom: black 1px solid;
}

#searchInput{
    display: block;

    font-size: 20px;
    width: 200px;

    border-radius: 10px;
    margin: 10px 10px;
    color:  rgb(92, 92, 92);
}

#view{
    background-color: #ccc;

    /* font-family: 'Kalam', cursive; */
    font-family: 'B612', sans-serif;
    color:  rgb(223, 221, 221);

    margin-top: 50px;
}

.menuChoice{
    display: inline-block;
    /* background-color: rgba(51, 153, 255, 0.7); */
    /* background-image: linear-gradient(to bottom right,#FC5C7D, #6A82FB);  */
    /* background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(104, 104, 104)); */
    /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    /* background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%); */
    background-color: #546e78;
    margin: 10px 00px;
    margin-left: 20px;

    padding: 1px 20px;

    /* border: 2px solid grey; */
    border-radius: 4px;

    width: 300px;
    height: 250px;
/* t r b l */
    box-shadow: 3px 5px 6px 3px rgb(90, 90, 90);
}



.name{
    font-size: 24px;
    font-weight: 700;
    margin-bottom:10px;
    padding-bottom: 0px;
    border-bottom: #ccc 2px solid;
}

.field{
    font-weight: 1000;
    font-size: 20px;
    font-style: italic;
    text-decoration: underline #ccc ;

}

.meal{
    font-weight: 600;
    font-size: 18px;
    padding-left: 40px;
}

.notes{
    font-size: 18px;
    padding-left: 40px;
}

